#app-header {
  display: flex;
  place-content: center;
  place-items: center;
}

#app-header h1 {
  margin: 0;
  font-size: var(--size-xl);
  font-weight: normal;
  font-family: var(--font-family-title);
  text-transform: uppercase;
}
