#app {
  display: grid;
  grid-template:
    /*'header' var(--size-xl)*/ 'main' 1fr;
  gap: var(--size-16);
}

#app > main,
#app > noscript {
  grid-area: main;
}
#app > main[hidden] {
  display: none;
}
