#app {
  box-sizing: border-box;
  padding: var(--size-m);
  display: grid;
  grid-template:
    'header' var(--size-xl)
    'main' 1fr
    'footer' var(--size-xl);
  gap: var(--size-m);
}

#app > header {
  grid-area: header;
}
#app > main,
#app > noscript {
  grid-area: main;
}
#app > main[hidden] {
  display: none;
}
#app > footer {
  grid-area: footer;
}
