#gameplay-screen {
  inline-size: 100dvw;
}

#gameplay-screen > dl:not([hidden]) {
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-content: center;
}

#gameplay-screen > dl[hidden] {
  display: none;
}

#gameplay-screen > dl > dt {
  text-align: end;
}

#gameplay-screen > dl > dd {
  margin: 0;
}

#gameplay-screen > .message {
  align-self: center;
  justify-self: center;
}
