#gameplay-screen {
  display: grid;
  grid-template:
    'servers servers servers' 3fr
    'clock terminal heat' 2fr
    'globe terminal score' 2fr
    / 1fr 3fr 1fr;
  gap: var(--size-m);
}

#gameplay-screen > section {
  box-sizing: border-box;
  border: var(--color-tertiary) solid var(--size-2xs);
  padding: var(--size-xs);
}

#gameplay-screen > section > h2 {
  margin: calc(-1 * var(--size-l)) 0 0 0;
  width: fit-content;
  padding: var(--size-xxs);
  text-transform: uppercase;

  color: var(--color-secondary);
  background-color: var(--color-background);

  font-size: var(--size-m);
}

#score-box {
  grid-area: score;
}
#score-display {
  font-size: var(--size-xl);
  font-weight: 1;
}

#heat-box {
  grid-area: heat;
}

#servers-box {
  grid-area: servers;
}
#servers-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr 3fr 5fr);
  gap: var(--size-xs) var(--size-s);
}

#servers-view > hr {
  grid-column: 1 / 7;
  margin: var(--size-xxs) 0;
}

#servers-view .column-header {
  text-transform: uppercase;
  color: var(--color-secondary);
  font-size: var(--size-s);
}

.server-view {
  display: contents;
}

.server-view.focused .id,
.server-view.focused .code {
  color: var(--color-blue);
}

.server-view .id {
  color: var(--color-secondary);
}

.server-view.inactive .status {
  color: var(--color-yellow);
}
.server-view.active .status {
  color: var(--color-red);
}
.server-view.cleared .status {
  color: var(--color-green);
}

.server-view .code {
  visibility: hidden;
}
.server-view.active .code {
  visibility: visible;
}

.server-view.final-boss > * {
  order: 9999;
}
.server-view.final-boss .code {
  grid-column-end: span 4;
}

#terminal {
  grid-area: terminal;
}
#text-entry-view {
  display: flex;
  font-family: var(--font-monospace);
}
#text-entry {
  font-weight: bold;
}
#text-entry-cursor {
  background-color: currentColor;
}

#clock-box {
  grid-area: clock;
}
#clock-box time {
  font-size: var(--size-xxl);
}

#globe-box {
  grid-area: globe;
}
