#gameplay-screen section {
  box-sizing: border-box;
  border: var(--color-dim-grey) solid var(--size-xxs);
  padding: var(--size-s);
}

#gameplay-screen h2 {
  margin: calc(-1 * var(--size-l)) 0 0 0;
  background-color: var(--color-black);
  width: min-content;
  padding: var(--size-xs);
  text-transform: uppercase;
  color: var(--color-grey);
}

#score-display {
  font-size: var(--size-xl);
  font-weight: 1;
}
