html {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: var(--size-m);
  font-family: var(--font-family-proportional);
  color: var(--color-primary);
  background-color: var(--color-background);
}

body {
  margin: 0;
  aspect-ratio: 16 / 9;
  max-width: 100dvw;
  max-height: 100dvh;
}

dialog[open] {
  color: inherit;
  background-color: var(--color-background);

  border-style: double;
  border-width: calc(3 * var(--size-2xs));
  border-color: var(--color-secondary);

  box-shadow: var(--color-tertiary) var(--size-xxs) var(--size-xxs);

  padding: var(--size-l);

  display: flex;
  flex-direction: column;
  gap: var(--size-m);
}

dialog[open] > * {
  margin: 0;
}

dialog::backdrop {
  mix-blend-mode: multiply;
  opacity: 0.5;
}

button {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-primary);
  background-color: var(--color-background);

  cursor: pointer;

  border-style: solid;
  border-color: var(--color-primary);
  border-width: var(--size-2xs);
  border-radius: 0;
  padding: var(--size-xs) var(--size-m);

  box-shadow: var(--color-tertiary) var(--size-xxs) var(--size-xxs);
}

button:active {
  color: var(--color-background);
  background-color: var(--color-primary);
}

button:focus-visible {
  outline: currentColor dashed var(--size-2xs);
  outline-offset: calc(-1 * var(--size-xs));
}

hr {
  width: 100%;
  height: var(--size-2xs);
  border: none;
  background-color: var(--color-tertiary);
}
