@import '@fontsource-variable/jetbrains-mono';

:root,
::backdrop {
  --color-primary: #92fbe8;
  --color-secondary: #69afab;
  --color-tertiary: #486a68;
  --color-background: #262424;
  --color-blue: #7189ff;
  --color-green: #2ef5a3;
  --color-yellow: #ffc120;
  --color-red: #ff5d47;

  --size-px: 1px;
  --size-2xs: 0.125rem;
  --size-xxs: 0.25rem;
  --size-xs: 0.5rem;
  --size-s: 0.75rem;
  --size-m: 1rem;
  --size-l: 1.5rem;
  --size-xl: 2rem;
  --size-xxl: 3rem;

  --font-size-base: 16; /* 1rem in pixels when viewport is 1600px by 900px */

  font-size: min(
    calc((var(--font-size-base) / 1600) * 100dvw),
    calc((var(--font-size-base) / 900) * 100dvh)
  );

  font-family: 'JetBrains Mono Variable', monospace;
  color: var(--color-primary);
  background-color: var(--color-background);
}

* {
  font-size: var(--size-m);
}

html {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: var(--size-m);
}

body {
  margin: 0;
  aspect-ratio: 16 / 9;
  max-width: 100dvw;
  max-height: 100dvh;
}

dialog[open] {
  color: inherit;
  background-color: var(--color-background);

  border-style: double;
  border-width: calc(3 * var(--size-2xs));
  border-color: var(--color-secondary);

  box-shadow: var(--color-tertiary) var(--size-xxs) var(--size-xxs);

  padding: var(--size-l);

  display: flex;
  flex-direction: column;
  gap: var(--size-m);
}

dialog[open] > * {
  margin: 0;
}

dialog::backdrop {
  mix-blend-mode: multiply;
  opacity: 0.5;
}

button {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-primary);
  background-color: var(--color-background);

  cursor: pointer;

  border-style: solid;
  border-color: var(--color-primary);
  border-width: var(--size-2xs);
  border-radius: 0;
  padding: var(--size-xs) var(--size-m);

  box-shadow: var(--color-tertiary) var(--size-xxs) var(--size-xxs);
}

button:active {
  color: var(--color-background);
  background-color: var(--color-primary);
}

button:focus-visible {
  outline: currentColor dashed var(--size-2xs);
  outline-offset: calc(-1 * var(--size-xs));
}

hr {
  width: 100%;
  height: var(--size-2xs);
  border: none;
  background-color: var(--color-tertiary);
}
