@import '@fontsource-variable/jetbrains-mono';

:root {
  --color-white: #ede8e4;
  --color-grey: #a1b2ba;
  --color-dim-grey: #616a71;
  --color-black: #212227;
  --color-red: #ee6352;
  --color-yellow: #fe9000;
  --color-green: #8fc93a;
  --color-blue: #7987e2;

  --size-px: 1px;
  --size-xxs: 0.125rem;
  --size-xs: 0.25rem;
  --size-s: 0.5rem;
  --size-m: 1rem;
  --size-l: 1.5rem;
  --size-xl: 2rem;
  --size-xxl: 3rem;

  --font-size-base: 32; /* 1rem in pixels when viewport is 1920px by 1080px */
  font-size: min(
    calc((var(--font-size-base) / 1920) * 100dvw),
    calc((var(--font-size-base) / 1080) * 100dvh)
  );

  font-family: 'JetBrains Mono Variable', monospace;
  color: var(--color-white);
  background-color: var(--color-black);
}

* {
  font-size: var(--size-m);
}

html {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: var(--size-m);
}

body {
  margin: 0;
  aspect-ratio: 16 / 9;
  max-width: 100dvw;
  max-height: 100dvh;
}

button {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-white);
  background-color: var(--color-black);

  cursor: pointer;

  border-style: solid;
  border-color: var(--color-white);
  border-width: var(--size-xxs);
  border-radius: 0;
  padding: var(--size-s) var(--size-m);

  box-shadow: var(--color-white) var(--size-xs) var(--size-xs);
}

button:active {
  color: var(--color-black);
  background-color: var(--color-white);
}

button:focus-visible {
  outline: currentColor dashed var(--size-xxs);
  outline-offset: calc(-1 * var(--size-s));
}
