#splash-screen {
  text-align: center;
  place-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #262424;
  padding: 2rem;
  border-radius: 1rem;
  color: #69afab;
}

#splash-screen input[type='text'],
#splash-screen input[type='email'] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  display: inline-block;
  background-color: #262424;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #69afab;
}

#splash-screen input[type='checkbox'] {
  margin-right: 0.625rem;
}

#splash-screen label {
  display: block;
  text-align: left;
  margin: 0.5rem 0;
}

#splash-screen button {
  width: 100%;
  background-color: #262424;
  color: #69afab;
  padding: 0.875rem 1.25rem;
  margin: 0.5rem 0;
  border: 1px solid #69afab;
  cursor: pointer;
}

#splash-screen button:hover {
  color: #262424;
  background-color: #69afab;
}

#splash-screen h1 {
  text-transform: uppercase;
  font-weight: var(--font-weight-normal);
  font-size: var(--size-40);
  font-family: var(--font-family-title);
  color: #69afab;
}

.login-form {
  max-width: 20rem;
  width: 100%;
}

#splash-screen ::placeholder {
  color: #b1b1b1;
}
