#splash-screen {
  text-align: center;
  place-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-2xl);
}

#splash-screen > * {
  margin: 0;
}

#splash-screen > h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: var(--size-xxl);
  font-family: var(--font-family-title);
}
