@import '@fontsource/jetbrains-mono/400.css';
@import '@fontsource/jetbrains-mono/700.css';
@import '@fontsource/rubik-glitch/400.css';
@import '@fontsource/tomorrow/400.css';

:root,
::before,
::after,
::backdrop {
  --color-primary: #92fbe8;
  --color-secondary: #69afab;
  --color-tertiary: #486a68;
  --color-background: #262424;
  --color-blue: #7189ff;
  --color-green: #2ef5a3;
  --color-yellow: #ffc120;
  --color-red: #ff5d47;

  --size-px: 1px;
  --size-2xs: 0.125rem;
  --size-xxs: 0.25rem;
  --size-xs: 0.5rem;
  --size-s: 0.75rem;
  --size-m: 1rem;
  --size-l: 1.5rem;
  --size-xl: 2rem;
  --size-xxl: 2.5rem;
  --size-2xl: 3rem;

  --font-size-base: 20; /* 1rem in pixels when viewport is 1600px by 900px */
  font-size: min(
    calc((var(--font-size-base) / 1600) * 100dvw),
    calc((var(--font-size-base) / 900) * 100dvh)
  );

  --font-family-proportional: 'Tomorrow', sans-serif;
  --font-family-monospace: 'JetBrains Mono', monospace;
  --font-family-title: 'Rubik Glitch', sans-serif;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
