.border {
  border: var(--size-3xs) solid var(--color-secondary);
}

.fake-monospace {
  writing-mode: vertical-lr;
  text-orientation: upright;
  height: min-content;
  overflow-wrap: anywhere;
  line-height: 66.67%;
}
